div
{
  width: 100%;
  background-color:greenyellow;
  border: 10px solid blue;
  color:black;
  position: sticky;
  top:0px;
}
h1
{
    color :rgb(36, 231, 29)

}
li
{
    list-style-type: '\260E';
    list-style-position: inside;
}
ul
{
 color:goldenrod;
 font-family: "Lucida Console", "Courier New", monospace;
}